In [1]:
import pandas as pd
import tensorflow as tf

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

In [8]:
processed_data = pd.read_csv("../data/processed_insuarance_data.csv", index_col=0)

processed_data.head()

,standardscaler__age,standardscaler__bmi,standardscaler__children,onehotencoder__sex_female,onehotencoder__sex_male,onehotencoder__smoker_no,onehotencoder__smoker_yes,onehotencoder__region_northeast,onehotencoder__region_northwest,onehotencoder__region_southeast,onehotencoder__region_southwest,charges
0,-1.438764,-0.453320,-0.908614,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,16884.92400
1,-1.509965,0.509621,-0.078767,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1725.55230
2,-0.797954,0.383307,1.580926,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,4449.46200
3,-0.441948,-1.305531,-0.908614,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,21984.47061
4,-0.513149,-0.292556,-0.908614,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,3866.85520

In [9]:
features = processed_data.drop("charges", axis=1)

target = processed_data[["charges"]]

x_train, x_test, y_train, y_test = train_test_split(features,
                                                   target,
                                                   test_size=0.2,
                                                   random_state=42)

In [11]:
model = tf.keras.models.load_model("../my_models/model_relu_64")

In [12]:
y_pred = model.predict(x_test)


r2_score(y_test, y_pred)

9/9 [==============================] - 0s 4ms/step

0.859224484019151

In [13]:
import math

mse = mean_squared_error(y_test, y_pred)

math.sqrt(mse)

4674.956714358615